include /mixins/forms.pug
include /mixins/index.pug

doctype html
html(lang='en')
  head
    title= Title
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    link(rel='stylesheet' href='/assets/styles.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.py-2
      a.navbar-brand.mr-4(href='/') Task Manager
      button.navbar-toggler(type = 'button' data-toggle='collapse' data-target='#navbarSupportedContent')
        span.navbar-toggler-icon
      .collapse.navbar-collapse.row#navbarSupportedContent
        .col-12.col-md-10
          input.form-control(type='search' placeholder='Meta-search' disabled)
        .col-12.col-md-2
          ul.navbar-nav
            if isSignedIn()
              li.nav-item.dropdown
                button.btn.dropdown-toggle.text-light#dropdownMenuTaskButton(type='button' data-toggle='dropdown')
                  span.oi.oi-plus
                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuTaskButton')
                  a.dropdown-item(href= urlFor('newTask')) Add task
                  a.dropdown-item(href= urlFor('newStatus')) Add task status
              li.nav-item.dropdown
                button.btn.btn-outline-light.dropdown-toggle#dropdownMenuButton(type='button' data-toggle='dropdown') Profile
                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                  a.dropdown-item(href= urlFor('userProfile')) Settings
                  a.dropdown-item(href= urlFor('tasks', { query: { creatorId: currentUser }})) Created by me
                  a.dropdown-item(href= urlFor('tasks', { query: { assigneeId: currentUser }})) Assigned to me
                  .dropdown-divider
                  a.dropdown-item(href= urlFor('session') data-method='delete' rel='nofollow') Sign out
            else
              li.nav-item
                a.nav-link.text-light.mr-2(href=urlFor('newSession')) Sign In
              li.nav-item
                a.btn.btn-outline-light(href=urlFor('newUser')) Sign Up
    - const msg = flash.get()
    if msg
      .alert.alert-info.alert-dismissable.fade.show.px-5.py-3= msg
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
    block content
    // .footer.container-lg.px-3
    //   .position-relative.d-flex.flex-justify-between.pt-6.pb-2.mt-6.f6.text-gray.border-top.border-gray-light
    //     span hey
  script(src='/assets/main.js')
  script(src='/assets/styles.js')
