extends /layouts/sign-form.pug

block signForm-content
  h1.h3.mb-4.mt-3= 'Sign in'
  +formFor(f, { url: urlFor('session'), method: 'post' })
    block form-content
      +input(f, 'email', { as: 'email'})
      +input(f, 'password', { as: 'password' })
      +button(f)
