extends /layouts/settings.pug

block settings-content
  +formFor(f, { url: urlFor('changePassword'), method: 'patch' })
    .row
      .col-12.col-xl-6
        block form-content
          .form-group.row
            label.col-12.col-md-3 Old password
            .col-12.col-md-9
              +input(f, 'currentPassword', { as: 'password' })
          .form-group.row
            label.col-12.col-md-3 New password
            .col-12.col-md-9
              +input(f, 'newPassword', { as: 'password' })
          .form-group.row
            label.col-12.col-md-3 Confirm password
            .col-12.col-md-9
              +input(f, 'confirmPassword', { as: 'password' })
          +button(f)
          hr
          - const target = `user${f.object.id}`;
          button.btn.btn-danger(type='button' data-toggle='modal' data-target=`#${target}`) Delete account
          +modal({ target, name: 'account', url: urlFor('deleteUser')})
