extends /layouts/settings.pug

block settings-content
  h3 Profile
  +formFor(f, { url: urlFor('updateUserProfile'), method: 'patch' })
    .row
      .col-12.col-xl-6
        block form-content
          .form-group
            +input(f, 'email', { as: 'email'})
          .form-group
            +input(f, 'firstName')
          .form-group
            +input(f, 'lastName')
          +button(f)
