extends /layouts/settings.pug

block settings-content
  h3 Profile
  +formFor(f, { url: urlFor('updateUserProfile'), method: 'patch' })
    .row
      .col-12.col-xl-6
        block form-content
          +input(f, 'email')
          +input(f, 'firstName')
          +input(f, 'lastName')
          +button(f)
